<h1>Welcome <%= @user.first_name %></h1>

<h2>Your favorite cocktails:</h2>
<% @user.posts.each do |post| %>
<%= post.cocktail.name %>
<img src="<%= post.image_url %>" />
<%= post.cocktail.description %>
<%end%>
