// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktail-list {
  text-align: center;
  padding: 20px;
  margin: auto;
  width: 30%;
  color: black;
  border: 1px solid black;
  font-size: 20px;

}
