// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-index {
  border: 1px solid black;
  padding: 23px 88px;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;

}

.single-post {
  text-align: center;
  margin: auto;
}

.search_bar {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-form {
  padding: 20px;
  margin: auto;
  width: 30%;
  text-align:left;
  color: black;
  border: 1px solid black;

}

 .single-post {
  font-size: 30px;

}

.flavors {
  border: 1px solid black;
}
