// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-index {
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  text-align: center;

}


.single-post {
  text-align: center;
  position: absolute;
  padding-top: 75px;
}

.search_bar {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-form {
  padding: 20px;
  margin: auto;
  width: 30%;
  text-align:left;
  color: black;
  border: 1px solid black;


}
